<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Books Editor</a>
    </div>

    <div id="navigation_panel" class="navbar-default sidebar" role="navigation">
    </div>
</nav>