hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0; 
}

.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: transparent;
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px; 
}

.row {
    margin-bottom: 15px;
}

.error {
    color: #a94442;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.book-image {
    display: block;
    width: 25%;
    margin-bottom: 10px;
}

.book-list-item-image {
    width: 100px;
}

.table th {
    color: #777;
}