<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{sectionTitle}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {{#if errors}}
        <div class="alert alert-danger">
            <ul>
                {{#each errors}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        {{#if !book}}
        <div class="alert alert-danger">Book not found</div>
        {{else}}
        <form id="book" decorator="unobtrusive">
            {{#book}}
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Title *</label>
                    <div class="col-sm-6">
                        <input name="title" type="text" class="form-control" value="{{.Title}}" data-val="true" data-val-required="Title can not be empty" maxlength="30" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Authors *</label>
                    <div class="col-sm-6">
                        <select decorator="chosen:authors" name="authors" data-placeholder="Choose authors..." class="chosen-select hidden form-control" multiple value="{{book.Authors}}"
                                data-val="true" data-val-required="Select at least one author" id="authors">
                            <option selected disabled></option>
                            {{#each allAuthors}}
                                <option value="{{.Id}}">{{.Name}} {{.Surname}}</option>
                            {{/each}}
                        </select>
                        <label for="authors" generated="true" class="error"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Page count *</label>
                    <div class="col-sm-6">
                        <input name="pagecount" type="text" class="form-control" value="{{.PageCount}}" data-val="true" data-val-required="Page count can not be empty" min="1" max="10000" maxlength="5" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Publishing house</label>
                    <div class="col-sm-6">
                        <input name="publishinghouse" type="text" class="form-control" value="{{.PublishingHouse}}" data-val="true" maxlength="30" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Publication year *</label>
                    <div class="col-sm-6">
                        <input name="publicationyear" type="text" class="form-control" value="{{.PublicationYear}}" data-val="true" data-val-required="Publication year can not be empty" min="1800" max="2100" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">ISBN</label>
                    <div class="col-sm-6">
                        <input name="isbn" type="text" class="form-control" value="{{.ISBN}}" maxlength="17" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Image</label>
                    <div class="col-sm-6">
                        {{#if (.ImageUrl)}}
                        <img src="{{.ImageUrl}}" class="book-image">
                        {{else}}
                        <p>Image not selected (max 200 kb)</p>
                        <input decorator="fileupload:{url: '/api/file/upload', maxFileSize: 204800 }" type="file" accept="image/*" on-r_fileupload_success="onImageUploadSuccess"
                               on-r_fileupload_error="onImageUploadError" />
                        {{/if}}
                        {{#if (.ImageUrl)}}
                        <input class="btn btn-sm btn-danger" on-click="onImageDeleteClick" type="button" value="Delete">
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/book}}
            <div class="hr-line-dashed"></div>

            <input on-click="onSaveButton" type="button" class="btn btn-primary" value="Save" />
            <input on-click="onCancelButton" type="button" class="btn btn-danger" value="Cancel" />
        </form>
        {{/if}}
    </div>
</div>