<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Books</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <button class="btn btn-success" on-click="onAddBookButtonClick">Add book</button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th on-click="onTitleLabelClick" class="clickable">Title {{#if (filter.TitleOrder == 'asc')}}&#9652;{{elseif (filter.TitleOrder == 'desc')}}&#9662;{{else}}{{/if}}</th>
                        <th>Authors</th>
                        <th>Page count</th>
                        <th>Publishing house</th>
                        <th on-click="onYearLabelClick" class="clickable">Publication year {{#if (filter.YearOrder == 'asc')}}&#9652;{{elseif (filter.YearOrder == 'desc')}}&#9662;{{else}}{{/if}}</th>
                        <th>ISBN</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Items}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Title}}</td>
                        <td>
                            {{#each .Authors}}
                            {{.Name}} {{.Surname}}
                            <br />
                            {{/each}}
                        </td>
                        <td>{{.PageCount}}</td>
                        <td>{{.PublishingHouse}}</td>
                        <td>{{.PublicationYear}}</td>
                        <td>{{.ISBN}}</td>
                        <td><button class="btn btn-primary btn-sm" on-click="onBookEditButtonClick">Edit</button></td>
                        <td><button class="btn btn-danger btn-sm" on-click="onDeleteButtonClick">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Make modal as partial or component -->
<div id="modal-dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h4>{{modalTitle}}</h4>
                    <p>{{modalText}}</p>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <button class="btn btn-sm btn-primary margin-right" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>